{{> header title='얍플레이스(YAP Place)' cssName='theme.all'}}

<div id="theme-newest-contents">
	<div class="top-img-bar">
		<div class="top-img-bar-container">
			<div class="top-img-bar-body">
				<ul class="theme-menu">
					<li class="theme-menu-newest">
						<div class="theme-menu-text active">
							최신테마
						</div>
					</li>
					<li class="theme-menu-all">
						<div class="theme-menu-text">
							인기태그
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="theme-list-container">

	</div>
</div>

{{> footer jsName='theme.all.newest'}}
