@import 'lib/include.all.less';


@main-color: #EC522E;


#scroll-up-button {
	position: fixed;
	bottom: 30px;
	right: 90px;
	width: 74px;
	height: 74px;
	border-radius: 100%;
	background: black;
	font-size: 20px;
	line-height: 74px;
	color: white;
	text-align: center;
	z-index: 20;
	cursor: pointer;
	border: 0px;
	outline: 0px;
}

.section02,
.section05 {
	background-color: #F8F8F8;
}

.main-bar-container,
.footer-container,
.section01-container,
.section02-container,
.section03-container,
.section04-container,
.section05-container,
.section06-container {
	position: relative;
	max-width: 1268px;
	margin: 0px auto 45px;
}

.section03-container,
.section06-container,
.footer-container {
	margin-bottom: 0px;
}

.main-bar-body,
.footer-body,
.section01-body,
.section02-body,
.section03-body,
.section04-body,
.section05-body,
.section06-body {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 35px 55px;
	white-space: nowrap;
}

.layer-darker {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}


//-------------search box layer------------//



//-------------footer------------//
footer {
	border-top: solid 6px black;
}

.footer-sns-shortcut {
	position: absolute;
	right: 55px;
}

.footer-sns-shortcut>div {
	width: 26px;
	height: 26px;
	display: inline-block;
	list-style: none;
	background-size: 100% 100%;
	margin-right: 5px;
	cursor: pointer;
}

.footer-sns-shortcut>div:last-child {
	margin-right: 0px;
}

.footer-site-info-container {
	width: 100%;
}

.footer-site-info,
.footer-company-info {
	width: 100%;
	padding-left: 0px;
	white-space: normal;
}

.footer-site-info>li {
	display: inline-block;
	list-style: none;
	font-size: 14px;
	color: black;
	padding: 0px 10px;
	border-right: solid 1px #D2D2D2;
	line-height: 13px;
	cursor: pointer;
}

.footer-site-info>li:first-child,
.footer-company-info>li:first-child,
.footer-company-info>li:last-child {
	padding-left: 0px;
}


.footer-site-info>li:last-child {
	padding-right: 0px;
	border-right: none;
}

.footer-company-info>li {
	display: inline-block;
	list-style: none;
	font-size: 12.5px;
	color: #8A8A8A;
	padding: 0 10px;
	border-right: solid 1px #D2D2D2;
	line-height: 10px;
}

.footer-company-info>li:nth-child(5),
.footer-company-info>li:last-child {
	padding-right: 0px;
	border-right: none;
}

.corp-resistration-num {
	cursor: pointer;;
}

.footer-copyright {
	font-size: 12.5px;
	color: #8A8A8A;
	margin-top: 20px;
}

//-------------login layer------------//

#main-login-layer,
#mail-login-layer,
#find-password-layer,
#email-signup-layer {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 20;
}

.main-login-layer-box,
.mail-login-layer-box,
.mail-login-layer-signup-box,
.find-password-layer-box,
.email-signup-box,
.email-signup-agreement-box,
.email-signup-submit-box {
	position: fixed;
	width: 400px;
	top: 227px;
	left: 50%;
	margin-left: -200px;
	background-color: #ffffff;
}

.main-login-layer-body,
.mail-login-layer-body,
.mail-login-layer-signup-body,
.find-password-layer-body,
.email-signup-layer-body,
.email-signup-submit-body {
	font-family: '돋움',dotum;
	position: relative;
	margin: 25px 25px;
}

.main-login-layer-title,
.mail-login-layer-title,
.find-password-layer-title,
.email-signup-layer-title {
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 13px;
	border-bottom: solid 1px #000000;
}

.layer-close-button {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0px;
	right: 0px;
	margin: 4.5px 0px;
	background-size: cover;
	cursor: pointer;
}

.main-login-layer-description,
.find-password-layer-description,
.email-signup-layer-description,
.agreement-title {
	font-size: 12px;
	margin: 20px 0;
	text-align: center;
	line-height: 15px;
}

.main-login-layer-button,
.mail-login-email-addr-box,
.mail-login-email-password-box,
.mail-login-button,
.mail-login-layer-signup-button,
.find-password-email-addr-box,
.cancle-button,
.find-password-button,
.email-signup-email-addr-box,
.email-signup-password-box,
.email-signup-again-password-box,
.email-signup-complete-button {
	position: relative;
	width: 100%;
	height: 52px;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	line-height: 52px;
	margin: 0px auto 10px;
	background: #000;
	cursor: pointer;
}

.button-facebook {
	background: #3B5998;
}

.button-kakao {
	color: #3B1E1E;
	background: #FBE300;
}

.email-img,
.facebook-img,
.kakao-img {
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	margin-left: 101px;
	margin-right: 10px;
	line-height: 52px;
}

.main-login-layer-button-text,
.main-login-layer-signup-button-text {
	font-family: '돋움',dotum;
	text-align: right;
	margin-right: 101px;
	line-height: 52px;
}


//-------------email login layer------------//

.mail-login-layer-box {
	top: 105px;
}

.mail-login-layer-signup-box {
	top: 462px;
	background-color: #F7F7F7;
}

.mail-login-email-addr-box,
.mail-login-email-password-box,
.find-password-email-addr-box,
.email-signup-email-addr-box,
.email-signup-password-box,
.email-signup-again-password-box {
	background-color: #F7F7F7;
	color: #A9A9A9;
	margin: 10px 0px;
	border: 0px;
	cursor: text;
}

.email-addr-inputbox,
.password-inputbox,
.again-password-inputbox {
	width: 100%;
	padding: 0 20px;
	background-color: transparent;
	border: 0px;
}

.mail-login-email-addr-box {
	margin-top: 20px;
}

.mail-login-remain-check {
	position: relative;
	margin-bottom: 20px;
}

.single-check-box {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	border: solid 1px #D2D2D2;
	background-color: #ffffff;
	cursor: pointer;
}

.check-box-active {
	display: none;
	position: absolute;
	top: 0px;
	color: #EC522E;
	font-size: 14px;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	border: solid 1px #D2D2D2;
	cursor: pointer;
}

.remain-check-text {
	font-size: 12px;
	color: #909090;
	position: absolute;
	left: 20px;
	top: 0px;
	line-height: 16px;
}

.mail-login-button {
	text-align: center;
}

.mail-login-find-password {
	font-family: '돋움',dotum;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
	margin: 20px 0px;
	cursor: pointer;
}

.mail-login-layer-signup-text {
	font-family: '돋움',dotum;
	font-size: 12px;
	text-align: center;
	margin-bottom: 15px;
}

.mail-login-layer-signup-button>.email-img {
	margin-left: 86px;
}

.main-login-layer-signup-button-text {
	margin-right: 86px;
}


//-------------find-password layer------------//

.find-password-layer-description,
.email-signup-layer-description,
.agreement-title {
	color: black;
	line-height: 18px;
	text-align: left;
}

.cancle-button {
	text-align: center;
	width: 49%;
	margin-right: 7px;
	display: inline-block;
}

.find-password-button {
	text-align: center;
	width: 49%;
	display: inline-block;
}


//-------------email-signup layer------------//

.email-signup-box {
	position: absolute;
	top: 20px;
}

.email-signup-agreement-box {
	position: absolute;
	top: 443px;
	background-color: #F7F7F7;
}

.email-signup-agreement-title {
	font-size: 14px;
	font-weight: bold;
}

.use-agreement-agree,
.personal-info-agree,
.location-info-agree,
.mail-receive-agree {
	position: relative;
	margin-bottom: 10px;
}

.use-agreement-agree {
	margin-top: -10px;
}

.mail-receive-agree {
	margin-bottom: 0px;
}

.info-agree-text {
	display: inline-block;
}

.agreement-title {

	margin: 0px 0px 1px;
	cursor: pointer;
}

.agreement-description {
	font-size: 12px;
	color: #909090;
	text-align: left;
}

.agreement-check-area {
	position: absolute;
	display: inline-block;
	width: 100%;
	top: 0;
	right: 0;
	margin: 10px 0;
}

.agree-check-box-container {
	position: absolute;
	width: 20%;
	right: -25px;
}

.agreement-check-text {
	font-size: 12px;
	color: #909090;
	position: absolute;
	right: 0px;
	top: 0px;
	line-height: 16px;
}

.agreement-check-text {
	color: #000;
}

.email-signup-submit-box {
	position: absolute;
	top: 648px;
}

.email-signup-submit-body {
	margin: 15px 25px 25px;
}

.agreement-all-check-area {
	text-align: right;
}

.all-check-box {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	border: solid 1px #D2D2D2;
	background-color: #ffffff;
	cursor: pointer;
	right: 50px;
	position: absolute;
}

.all-check-box-active {
	display: none;
	position: absolute;
	top: 0px;
	color: #EC522E;
	font-size: 14px;
	width: 16px;
	height: 16px;
	margin-right: 4px;
	border: solid 1px #D2D2D2;
	cursor: pointer;
	right: 50px;
}

.agreement-all-check-text {
	font-size: 12px;
	color: #909090;
	top: 0px;
	line-height: 16px;
	right: 0px;
}

.email-signup-complete-button {
	text-align: center;
	margin-top: 15px;
}
